.note-form-page {
    height: 90%;
}

.note-create-update-form {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.note-create-update-form > .expanded-note {
    cursor: text;
}

textarea {
    width: 100%;

    border: transparent;
    border-radius: 5px;
    background-color: transparent;

    color: inherit;
    font-family: inherit;

    resize: none;
}

textarea:focus {
    outline: thin dashed;
}

textarea::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(45, 35, 17, 0.5);

    font-weight: 500;
}

#title-box {
    height: 15%;

    overflow: auto hidden;
    white-space: nowrap;

    font-size: calc(2em + 1vw);
    font-weight: 700;
}

#body-box {
    height: 85%;

    overflow-y: auto;
    white-space: pre-wrap;

    font-size: calc(1em + 0.5vw);
}

.form-main-button {
    margin: auto;
    max-width: 400px;
    width: 80%;
    aspect-ratio: 6;

    border: transparent;
    border-radius: 10px;

    color: inherit;
    font-family: inherit;
    font-weight: 500;
    font-size: calc(1em + 1vw);
}